.ui-button {
  display: inline-block;
  background-color: var(--secondary-color);
  color: #fff;
  padding: .6rem 1rem;
  text-decoration: none;
  transition: background-color .2s linear;
  &:hover {
    background-color: var(--secondary-color-shade);
  }
}
