/*

UI GRID is an extendable class, so we
should keep the base ui-grid class fairly generic

*/
.ui-grid {
	display: grid;
	grid-gap: 20px;
	&.-fluid {
		@media (min-width: 500px) {
			&.-two, &.-three {
				grid-template-columns: 1fr 1fr;
			}
		}
		@media (min-width: 760px) {
			&.-three {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}
	}

    & .article figure {
        & img {
            display: block;
        }
        margin-top: 0;
        margin-bottom: 0;
    }
}





.site-grid {
	@extend .ui-grid;

}
@media (min-width: 30em) {

}

.portfolio-grid {
  @extend .ui-grid;
  grid-template-columns: 1fr;
	padding: 2rem;
}
#sidebar {
	padding: 3rem;
}

@media (min-width: 760px) {
	.site-grid {
		grid-template-columns: 400px 1fr;
	}
}

@media (min-width: 950px) {

	#sidebar {
		max-width: 400px;
		padding: 2.5rem;
	}
  .portfolio-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .portfolio-grid {
    grid-template-columns: 1fr 1fr 1fr;

  }
}


.project {
	position: relative;
}
.project > .link {
	display: block;
	position: relative;
	width: 100%;
	text-decoration: none;
	color: #000;
}
.project > .link:hover {
	& > .ui-overlay {
		opacity: 1;
		transition: opacity .2s linear;
	}
}
.project img {
	display: block;
}
