.ui-grid {
	display: grid;
	grid-gap: 20px;
}
.-three {
	grid-template-columns: 1fr 1fr 1fr;
}
#site {
	display: grid;
	grid-template-columns: 400px 1fr;
	grid-gap: 30px;
	padding-left: 3rem;
	padding-right: 3rem;
}
#sidebar {
	width: 400px;
}
#portfolio img {
	display: block;
}
