.ui-grid {
	display: grid;
	grid-gap: 20px;
	align-items: center;
	&.-fluid {
		@media (min-width: 500px) {
			&.-two {
				grid-template-columns: 1fr 1fr;
			}
			&.-three {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}
	}
}

#site {
	display: grid;
	grid-gap: 30px;
	padding-left: 1rem;
	padding-right: 1rem;

}
@media (min-width: 30em) {
	#site {
		grid-template-columns: 400px 1fr;
		padding-left: 3rem;
		padding-right: 3rem;
	}
	#sidebar {
		width: 400px;
	}
}

.project {
	position: relative;
}
.project > .link {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	text-decoration: none;
}
.project > .link:hover {
	& > .ui-overlay {
		opacity: 1;
		transition: opacity .2s linear;
	}
}
#portfolio img {
	display: block;
}
