.ui-heading {
	font-family: var(--heading-family);
	font-size: 2rem;
	font-weight: bold;
	/* font-style: italic; */

	&.-emphasis {
		/* font-style: italic; */
	}

	&.-center {
		text-align: center;
	}

	& > .link {
		color: var(--secondary-color);
	}
}
