.ui-navigation {
	background: var(--tint-color);
	& > .link, & .subnav > .link  {
		font: .9rem var(--body-family);
		color: var(--secondary-color);
		border: none;
		outline: none;
		display: inline;
		padding: .5rem 1rem;
		margin: 0;
		text-decoration: underline;
		cursor: pointer;
		background: transparent;
		text-transform: uppercase;
	}
	&.-center {
		text-align: center;
	}
	&.-home {
		padding-bottom: 150px;
	}
}
