
/* Form Elements */

form.custom .custom.checkbox.checked, form.custom .custom.radio.checked {
border-color: #00a3ad;
}

form.custom .custom.checkbox, form.custom .custom.radio {
margin-right: 4px;
margin-top: -6px;
}

form.custom .custom.radio {
border-radius: 1000px;
padding: 0px;
}

form.custom .custom {
display: inline-block;
width: 20px;
height: 20px;
position: relative;
top: -1px;
vertical-align: middle;
border: solid 2px #cccccc;
background: white;
}

form.custom .custom.radio.checked:before {
content: "";
display: block;
border-radius: 1000px;
background: #222222;
position: relative;
}

form.custom .custom.radio.checked:before {
height: 10px;
width: 10px;
margin: 3px;
background-color: #00a3ad;
}

.visuallyhidden, form.custom .hidden-field {
border: 0;
clip: rect(0 0 0 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
}