/**
* Colour Variables
* not to be used directly
*/
/**
 * Typography
 */
/**
 * Quote
 */
/**
* QnA
*/
/**
 * Button colors
 */
/**
 * Forms
 */
/**
 * Autocomplete
 */
/**
 * Sub Header
 */
/**
 * Feature tiles
 */
/**
 * Promo tiles
 */
/**
 * Table colours
*/
/**
 * Foundation settings
 */
/***************************
 * THEMES - WIP cleanup    */
/**
 * PERSONAL THEME
 */
/**
 * BUSINESS THEME
 */
/**
 * DEFAULT THEME = PERSONAL
 */
/*== Font Family ================================== */
/* optus beta bold */
/* Trade Gothic Roman */
/* Trade Gothic Pro Bold Condensed No 20  */
/* Trade Gothic Pro Bold */
/* Optus Icons Bold */
/*== Icons ================================== */
/*== Navigation Heading ================================== */
/*== Campaign Heading / Bubble Font ================================== */
/*== General Heading / Trade Condensed ================================== */
/*== Primary Heading / h1 ================================== */
/*== Secondary Heading / h2 ================================== */
/*== Tertiary Heading / h3 ================================== */
/*== Quaternary Heading / h4 ================================== */
/*== Quinary Heading / h5 ================================== */
/*==Default Font / h1 ========================================*/
/*== Body Copy ================================== */
/*== Major article body Copy ================================== */
/*== small copy ================================== */
/*== Senary Heading / h6 ================================== */
/*== Article heading ================================== */
/*== Body Copy - Bold ================================== */
/*== Quote Box Copy - Bold ================================== */
/*== Links ================================== */
/*== Fine Print ================================== */
/*== Lists ================================== */
/* ordered lists */
/* Menu item description text */
/* breadcrumb */
/*== QNA ================================== */
/*== Buttons ================================== */
/*== Forms ================================== */
/*-- Error -- */
/*== Foundation Settings ================================== */
/**
* Colour Variables
* not to be used directly
*/
/**
 * Typography
 */
/**
 * Quote
 */
/**
* QnA
*/
/**
 * Button colors
 */
/**
 * Forms
 */
/**
 * Autocomplete
 */
/**
 * Sub Header
 */
/**
 * Feature tiles
 */
/**
 * Promo tiles
 */
/**
 * Table colours
*/
/**
 * Foundation settings
 */
/***************************
 * THEMES - WIP cleanup    */
/**
 * PERSONAL THEME
 */
/**
 * BUSINESS THEME
 */
/**
 * DEFAULT THEME = PERSONAL
 */
/*== Font Family ================================== */
/* optus beta bold */
/* Trade Gothic Roman */
/* Trade Gothic Pro Bold Condensed No 20  */
/* Trade Gothic Pro Bold */
/* Optus Icons Bold */
/*== Icons ================================== */
/*== Navigation Heading ================================== */
/*== Campaign Heading / Bubble Font ================================== */
/*== General Heading / Trade Condensed ================================== */
/*== Primary Heading / h1 ================================== */
/*== Secondary Heading / h2 ================================== */
/*== Tertiary Heading / h3 ================================== */
/*== Quaternary Heading / h4 ================================== */
/*== Quinary Heading / h5 ================================== */
/*==Default Font / h1 ========================================*/
/*== Body Copy ================================== */
/*== Major article body Copy ================================== */
/*== small copy ================================== */
/*== Senary Heading / h6 ================================== */
/*== Article heading ================================== */
/*== Body Copy - Bold ================================== */
/*== Quote Box Copy - Bold ================================== */
/*== Links ================================== */
/*== Fine Print ================================== */
/*== Lists ================================== */
/* ordered lists */
/* Menu item description text */
/* breadcrumb */
/*== QNA ================================== */
/*== Buttons ================================== */
/*== Forms ================================== */
/*-- Error -- */
/*== Foundation Settings ================================== */
.tabs {
  margin: 0; }
  .tabs .recontractTabLink {
    margin-bottom: 10px; }
  .tabs .linkTab {
    background: white !important;
    text-decoration: underline !important;
    text-transform: none !important; }
    @media (max-width: 53.75em) {
      .tabs .linkTab {
        border-bottom: none !important; } }
    .tabs .linkTab .lt-ie9 {
      border-bottom: none !important; }
  .tabs .tab {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
    color: #006685;
    background-color: #e5e5e5; }
    @media (min-width: 31.25em) {
      .tabs .tab {
        border-bottom: 2px solid #006685;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px; } }
    .tabs .tab .lt-ie9 {
      border-bottom: 2px solid #006685;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px; }
    .tabs .tab a {
      text-decoration: none;
      display: block;
      outline: none; }
      .tabs .tab a:hover {
        text-decoration: underline; }
    .tabs .tab.active {
      background: #006685; }
      .tabs .tab.active a {
        color: white; }
        @media (max-width: 31.1875em) {
          .tabs .tab.active a:before {
            position: absolute;
            height: 0;
            width: 0;
            content: "";
            transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            border-style: solid;
            border-color: white transparent transparent transparent;
            border-width: 10px 10px 0px 10px;
            bottom: 25px;
            left: -2%; } }
  .tabs .tabs-pane {
    padding-top: 20px; }

.recontractSubTabs.tabs-pane {
  padding-top: 35px; }
.recontractSubTabs .subTabsLinks {
  height: 50px; }
  .recontractSubTabs .subTabsLinks .button.white-cta {
    padding: 0.8em; }
.recontractSubTabs .button {
  background-color: #e5e5e5;
  color: #006685; }
  .recontractSubTabs .button.active {
    background-color: white !important;
    color: #191919 !important;
    border-color: #006685; }
    .recontractSubTabs .button.active:after {
      position: absolute;
      height: 0;
      width: 0;
      content: "";
      border-style: solid;
      border-color: #006685 transparent transparent transparent;
      border-width: 10px 10px 0px 10px;
      bottom: -10px;
      left: 50%;
      margin-left: -10px; }

.planSelectorWidget .button {
  display: block; }
  .planSelectorWidget .button:active {
    margin-top: 0px !important; }
@media (min-width: 53.75em) {
  .planSelectorWidget .heading-emphasis {
    font-size: 4.625em; } }
.planSelectorWidget .lt-ie9 .heading-emphasis {
  font-size: 4.625em; }
.planSelectorWidget .hide {
  display: none; }
.planSelectorWidget th.column-highlighted {
  background: #008a92 !important; }
.planSelectorWidget td.column-highlighted {
  background: whitesmoke; }
.planSelectorWidget td .planCalloutText {
  color: #666666;
  font-size: 0.7em; }
.planSelectorWidget td .planCalloutTextLineHeight {
  line-height: 2em; }
.planSelectorWidget .planListingTable {
  float: left;
  margin-top: 40px;
  table-layout: fixed; }
  .planSelectorWidget .planListingTable th .heading-quinary {
    font-size: 1em; }
  .planSelectorWidget .planListingTable th .table-heading-secondary {
    color: #666666;
    font-size: 0.8em; }
  .planSelectorWidget .planListingTable .table-head {
    background-color: #00a3ad;
    font-weight: bold; }
.planSelectorWidget .cisLink {
  display: block;
  font-size: 0.8em;
  font-family: Arial, Helvetica, sans-serif !important; }
.planSelectorWidget .mobilePlansView {
  margin-top: 133px; }
.planSelectorWidget .subTabsLinks {
  height: 50px; }
.planSelectorWidget .planSummaryItem {
  margin: 0 5px; }
  .planSelectorWidget .planSummaryItem.panel {
    padding: 0px;
    border-radius: 5px; }
  .planSelectorWidget .planSummaryItem h2 {
    white-space: nowrap;
    overflow: visible; }
  .planSelectorWidget .planSummaryItem .planHeading {
    height: 85px;
    background: #00a3ad;
    padding: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    .planSelectorWidget .planSummaryItem .planHeading .heading-emphasis {
      font-size: 2.375em; }
    .planSelectorWidget .planSummaryItem .planHeading .calloutPlan {
      font-size: 0.6em; }
    .planSelectorWidget .planSummaryItem .planHeading h2 {
      color: white;
      margin: 0px; }
  .planSelectorWidget .planSummaryItem .planViewDetails {
    background: #006685;
    height: 30px;
    padding: 10px;
    color: white; }
    .planSelectorWidget .planSummaryItem .planViewDetails h5 {
      color: white; }
  .planSelectorWidget .planSummaryItem .planBody {
    padding: 20px; }
    .planSelectorWidget .planSummaryItem .planBody .planCalloutText {
      font-size: 0.7em; }
    @media (max-width: 31.1875em) {
      .planSelectorWidget .planSummaryItem .planBody .planBorder {
        border-bottom: 1px solid #e5e5e5;
        padding-top: 10px; } }
.planSelectorWidget .carousel.is-carousel {
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  @media (min-width: 53.75em) {
    .planSelectorWidget .carousel.is-carousel {
      padding-left: 80px;
      padding-right: 80px; } }
  .planSelectorWidget .carousel.is-carousel .lt-ie9 {
    padding-left: 80px;
    padding-right: 80px; }
  .planSelectorWidget .carousel.is-carousel.is-onPage0 .carousel-item {
    position: relative;
    left: -0%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage1 .carousel-item {
    position: relative;
    left: -1.78571%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage2 .carousel-item {
    position: relative;
    left: -3.57143%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage3 .carousel-item {
    position: relative;
    left: -5.35714%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage4 .carousel-item {
    position: relative;
    left: -7.14286%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage5 .carousel-item {
    position: relative;
    left: -8.92857%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage6 .carousel-item {
    position: relative;
    left: -10.71429%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage7 .carousel-item {
    position: relative;
    left: -12.5%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage8 .carousel-item {
    position: relative;
    left: -14.28571%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage9 .carousel-item {
    position: relative;
    left: -16.07143%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage10 .carousel-item {
    position: relative;
    left: -17.85714%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage11 .carousel-item {
    position: relative;
    left: -19.64286%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage12 .carousel-item {
    position: relative;
    left: -21.42857%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage13 .carousel-item {
    position: relative;
    left: -23.21429%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage14 .carousel-item {
    position: relative;
    left: -25%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage15 .carousel-item {
    position: relative;
    left: -26.78571%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage16 .carousel-item {
    position: relative;
    left: -28.57143%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage17 .carousel-item {
    position: relative;
    left: -30.35714%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage18 .carousel-item {
    position: relative;
    left: -32.14286%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage19 .carousel-item {
    position: relative;
    left: -33.92857%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage20 .carousel-item {
    position: relative;
    left: -35.71429%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage21 .carousel-item {
    position: relative;
    left: -37.5%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage22 .carousel-item {
    position: relative;
    left: -39.28571%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage23 .carousel-item {
    position: relative;
    left: -41.07143%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage24 .carousel-item {
    position: relative;
    left: -42.85714%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage25 .carousel-item {
    position: relative;
    left: -44.64286%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage26 .carousel-item {
    position: relative;
    left: -46.42857%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage27 .carousel-item {
    position: relative;
    left: -48.21429%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage28 .carousel-item {
    position: relative;
    left: -50%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage29 .carousel-item {
    position: relative;
    left: -51.78571%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage30 .carousel-item {
    position: relative;
    left: -53.57143%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage31 .carousel-item {
    position: relative;
    left: -55.35714%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage32 .carousel-item {
    position: relative;
    left: -57.14286%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage33 .carousel-item {
    position: relative;
    left: -58.92857%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage34 .carousel-item {
    position: relative;
    left: -60.71429%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage35 .carousel-item {
    position: relative;
    left: -62.5%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage36 .carousel-item {
    position: relative;
    left: -64.28571%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage37 .carousel-item {
    position: relative;
    left: -66.07143%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage38 .carousel-item {
    position: relative;
    left: -67.85714%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage39 .carousel-item {
    position: relative;
    left: -69.64286%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage40 .carousel-item {
    position: relative;
    left: -71.42857%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage41 .carousel-item {
    position: relative;
    left: -73.21429%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage42 .carousel-item {
    position: relative;
    left: -75%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage43 .carousel-item {
    position: relative;
    left: -76.78571%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage44 .carousel-item {
    position: relative;
    left: -78.57143%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage45 .carousel-item {
    position: relative;
    left: -80.35714%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage46 .carousel-item {
    position: relative;
    left: -82.14286%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage47 .carousel-item {
    position: relative;
    left: -83.92857%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage48 .carousel-item {
    position: relative;
    left: -85.71429%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage49 .carousel-item {
    position: relative;
    left: -87.5%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage50 .carousel-item {
    position: relative;
    left: -89.28571%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage51 .carousel-item {
    position: relative;
    left: -91.07143%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage52 .carousel-item {
    position: relative;
    left: -92.85714%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage53 .carousel-item {
    position: relative;
    left: -94.64286%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage54 .carousel-item {
    position: relative;
    left: -96.42857%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage55 .carousel-item {
    position: relative;
    left: -98.21429%; }
  .planSelectorWidget .carousel.is-carousel.is-onPage56 .carousel-item {
    position: relative;
    left: -100%; }
  .planSelectorWidget .carousel.is-carousel .carousel-itemOuterContainer {
    overflow: hidden;
    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -o-user-select: text;
    user-select: text; }
  .planSelectorWidget .carousel.is-carousel .carousel-itemContainer {
    width: 5600%; }
    .planSelectorWidget .carousel.is-carousel .carousel-itemContainer:after {
      content: "";
      display: table;
      clear: both; }
  .planSelectorWidget .carousel.is-carousel .carousel-item {
    float: left;
    width: 1.78571%;
    -webkit-transition: left .25s ease-in;
    transition: left .25s ease-in; }
  .planSelectorWidget .carousel.is-carousel .carousel-button {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 40px;
    height: 60px;
    border: 1px solid #cccccc;
    background-color: white;
    overflow: visible;
    /* IE8 fix. */
    cursor: pointer; }
    .planSelectorWidget .carousel.is-carousel .carousel-button.is-disabled {
      display: none; }
    .planSelectorWidget .carousel.is-carousel .carousel-button .ico {
      position: absolute;
      left: -10%;
      top: 10%;
      font-size: 3em;
      color: #666666; }
  .planSelectorWidget .carousel.is-carousel .carousel-button-previous {
    left: 10px; }
  .planSelectorWidget .carousel.is-carousel .carousel-button-next {
    right: 10px; }
  .planSelectorWidget .carousel.is-carousel .carousel-pageIndicatorsWrapper {
    position: absolute;
    top: -10%;
    left: 50%; }
  .planSelectorWidget .carousel.is-carousel .carousel-pageIndicatorsContainer {
    margin-left: -50%; }
  .planSelectorWidget .carousel.is-carousel .carousel-pageIndicator {
    background-color: #cccccc;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block; }
    .planSelectorWidget .carousel.is-carousel .carousel-pageIndicator.is-active {
      background-color: #006685; }
.planSelectorWidget .carousel.is-full-item .carousel-item {
  width: 1.78571%; }
.planSelectorWidget .carousel.is-halves .carousel-item {
  width: 0.89286%; }
.planSelectorWidget .carousel.is-thirds .carousel-item {
  width: 0.59524%; }
.planSelectorWidget .carousel.is-smart-section .carousel-item {
  width: 0.59524%; }
@media (max-width: 53.6875em) {
  .planSelectorWidget .carousel.is-smart-section .carousel-item {
    width: 0.89286%; } }
@media (max-width: 31.1875em) {
  .planSelectorWidget .carousel.is-smart-section .carousel-item {
    width: 1.78571%; } }
.planSelectorWidget .carousel-itemOuterContainer {
  padding: 0 35px; }
