/**
* Colour Variables
* not to be used directly
*/
/**
 * Typography
 */
/**
 * Quote
 */
/**
* QnA
*/
/**
 * Button colors
 */
/**
 * Forms
 */
/**
 * Autocomplete
 */
/**
 * Sub Header
 */
/**
 * Feature tiles
 */
/**
 * Promo tiles
 */
/**
 * Table colours
*/
/**
 * Foundation settings
 */
/***************************
 * THEMES - WIP cleanup    */
/**
 * PERSONAL THEME
 */
/**
 * BUSINESS THEME
 */
/**
 * DEFAULT THEME = PERSONAL
 */
/*== Font Family ================================== */
/* optus beta bold */
/* Trade Gothic Roman */
/* Trade Gothic Pro Bold Condensed No 20  */
/* Trade Gothic Pro Bold */
/* Optus Icons Bold */
/*== Icons ================================== */
/*== Navigation Heading ================================== */
/*== Campaign Heading / Bubble Font ================================== */
/*== General Heading / Trade Condensed ================================== */
/*== Primary Heading / h1 ================================== */
/*== Secondary Heading / h2 ================================== */
/*== Tertiary Heading / h3 ================================== */
/*== Quaternary Heading / h4 ================================== */
/*== Quinary Heading / h5 ================================== */
/*==Default Font / h1 ========================================*/
/*== Body Copy ================================== */
/*== Major article body Copy ================================== */
/*== small copy ================================== */
/*== Senary Heading / h6 ================================== */
/*== Article heading ================================== */
/*== Body Copy - Bold ================================== */
/*== Quote Box Copy - Bold ================================== */
/*== Links ================================== */
/*== Fine Print ================================== */
/*== Lists ================================== */
/* ordered lists */
/* Menu item description text */
/* breadcrumb */
/*== QNA ================================== */
/*== Buttons ================================== */
/*== Forms ================================== */
/*-- Error -- */
/*== Foundation Settings ================================== */
.loading-overlay-loader-cart {
  z-index: 1200;
  width: 200px;
  height: 200px;
  margin: 0px auto;
  position: fixed;
  left: 40%;
  top: 40%;
  border-radius: 0.985em;
  text-align: center;
  background: white; }
  @media (max-width: 53.6875em) {
    .loading-overlay-loader-cart {
      left: 20%; } }

.loading-overlay-cart {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1100;
  background: none 0% 0% repeat scroll rgba(0, 0, 0, 0.49804);
  top: 0px; }

.loading-overlay-loader {
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  vertical-align: middle;
  z-index: 999;
  background: url("/opfiles/ys/online-style/images/global/loader.gif") no-repeat center; }

.loading-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #fff;
  opacity: .5; }

.device-filter {
  background: #00a3ad;
  border-radius: 5px;
  padding: 10px 10px 0px 10px;
  color: white; }
  @media (max-width: 53.75em) {
    .device-filter {
      padding: 0px;
      position: absolute;
      z-index: 1000; }
      .device-filter.fixedTop {
        position: fixed !important;
        top: 0 !important; }
      .device-filter .mobilePlanFilterDark {
        background: #008a92;
        padding-top: 4px;
        padding-bottom: 4px; }
        .device-filter .mobilePlanFilterDark .columns {
          padding-right: 0px !important; }
      .device-filter .mobilePlanFilterDarkDropdown {
        background: #008a92;
        padding-top: 10px !important; }
        .device-filter .mobilePlanFilterDarkDropdown .columns {
          padding-right: 0px !important; }
      .device-filter .mobilePlanPrice {
        padding-top: 15px; }
        .device-filter .mobilePlanPrice h2 {
          color: white;
          margin-top: 0px;
          margin-bottom: 0px;
          font-size: 1.5em !important; }
      .device-filter .changePlanResponsive {
        font-size: 16px !important;
        text-decoration: underline !important;
        text-transform: initial !important; }
      .device-filter .filterSelectButton {
        width: 180px;
        font-size: 13px;
        padding: 10px;
        margin: 0 auto; } }
  .device-filter .lt-ie9 {
    padding: 0px;
    position: absolute;
    z-index: 1000; }
    .device-filter .lt-ie9.fixedTop {
      position: fixed !important;
      top: 0 !important; }
    .device-filter .lt-ie9 .mobilePlanFilterDark {
      background: #008a92;
      padding-top: 4px;
      padding-bottom: 4px; }
      .device-filter .lt-ie9 .mobilePlanFilterDark .columns {
        padding-right: 0px !important; }
    .device-filter .lt-ie9 .mobilePlanFilterDarkDropdown {
      background: #008a92;
      padding-top: 10px !important; }
      .device-filter .lt-ie9 .mobilePlanFilterDarkDropdown .columns {
        padding-right: 0px !important; }
    .device-filter .lt-ie9 .mobilePlanPrice {
      padding-top: 15px; }
      .device-filter .lt-ie9 .mobilePlanPrice h2 {
        color: white;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 1.5em !important; }
    .device-filter .lt-ie9 .changePlanResponsive {
      font-size: 16px !important;
      text-decoration: underline !important;
      text-transform: initial !important; }
    .device-filter .lt-ie9 .filterSelectButton {
      width: 180px;
      font-size: 13px;
      padding: 10px;
      margin: 0 auto; }
  .device-filter h4, .device-filter h6 {
    color: white; }
  .device-filter label.filterSelectLabel {
    margin-bottom: 0.125em;
    color: white;
    text-transform: uppercase; }

.container-body {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important; }

.mobileListingWidget .mobileListingContainer {
  background: #e5e5e5; }
@media (max-width: 53.6875em) {
  .mobileListingWidget .mobileListingContainer {
    background: white; } }
@media (max-width: 31.1875em) {
  .mobileListingWidget .mobileListingContainer {
    background: #fff; } }
.mobileListingWidget .button {
  display: block; }
  .mobileListingWidget .button:active {
    margin-top: 0px !important; }
@media (max-width: 53.75em) {
  .mobileListingWidget .mobileDesktopScroll.fixedTop {
    margin-top: 70px; } }
.mobileListingWidget .lt-ie9 .mobileDesktopScroll.fixedTop {
  margin-top: 70px; }
@media (min-width: 53.75em) {
  .mobileListingWidget .mobileDesktopScroll.columns {
    padding-left: 0px;
    padding-right: 0px; } }
.mobileListingWidget .lt-ie9 .mobileDesktopScroll.columns {
  padding-left: 0px;
  padding-right: 0px; }
.mobileListingWidget .mobileListingItem .product-configuration-section .itemCoulorArea {
  height: 62px; }
.mobileListingWidget .mobileListingItem .row {
  margin-top: 10px;
  margin-bottom: 10px; }
  .mobileListingWidget .mobileListingItem .row .promoGreyBorder {
    border-right: 1px solid whitesmoke; }
.mobileListingWidget .mobileListingItem .columns {
  padding-left: 0.275em;
  padding-right: 0.275em; }
  .mobileListingWidget .mobileListingItem .columns .row {
    margin-left: -6px;
    margin-right: 0px; }
  .mobileListingWidget .mobileListingItem .columns .handset_img {
    margin-bottom: 0px;
    margin-top: -20px; }
  .mobileListingWidget .mobileListingItem .columns .moreInfoLink.marginLeft, .mobileListingWidget .mobileListingItem .columns .network_img.marginLeft {
    margin-left: 10px; }
  .mobileListingWidget .mobileListingItem .columns .network_img {
    margin-bottom: 0px; }
  .mobileListingWidget .mobileListingItem .columns.deviceTileRightColumn .berry-info-box-column {
    padding-left: 0px; }
.mobileListingWidget form.custom .custom.dropdown .selector {
  background: #006685 !important; }
.mobileListingWidget .phoneSelectButton {
  width: 100%;
   }
  .mobileListingWidget .phoneSelectButton.disabled {
    border-color: #e5e5e5;
    color: #666666;
    background: #cccccc; }
    .mobileListingWidget .phoneSelectButton.disabled:hover {
      border-color: #e5e5e5;
      color: #666666;
      background: #cccccc; }
.mobileListingWidget .network_img {
  width: inherit !important; }
.mobileListingWidget .capacityButton {
  background: white;
  border: 2px solid #e5e5e5;
  color: #666666;
  padding: 10px !important;
  width: 60px;
  height: 40px; }
  .mobileListingWidget .capacityButton input {
    visibility: hidden;
    margin: 0 0 0em 0;
    float: left; }
  .mobileListingWidget .capacityButton:hover {
    background: white;
    border: 2px solid #006685;
    color: #006685; }
  .mobileListingWidget .capacityButton.active {
    background: white;
    border: 2px solid #006685;
    color: #006685; }
    .mobileListingWidget .capacityButton.active:after {
      position: absolute;
      height: 0;
      width: 0;
      content: "";
      border-style: solid;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #00a3ad;
      border-top: 1px solid transparent;
      bottom: -11px;
      left: 30%;
      top: 38px; }
    .mobileListingWidget .capacityButton.active.outofstock:after {
      position: absolute;
      height: 0;
      width: 0;
      content: "";
      border-style: solid;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #cccccc;
      border-top: 1px solid transparent;
      bottom: -11px;
      left: 30%;
      top: 38px; }
.mobileListingWidget .feature-container {
  margin-bottom: 0px !important;
  margin-top: 30px;
  border-bottom: 5px solid #00a3ad; }
  @media (min-width: 53.75em) {
    .mobileListingWidget .feature-container {
      min-height: 450px !important;
      margin-bottom: 0px !important; }
      .mobileListingWidget .feature-container .addTocartDiv {
        position: absolute;
        width: 100%;
        margin: 0 auto;
        bottom: 10px; } }
  .mobileListingWidget .feature-container .lt-ie9 {
    min-height: 450px !important;
    margin-bottom: 0px !important; }
    .mobileListingWidget .feature-container .lt-ie9 .addTocartDiv {
      position: absolute;
      width: 100%;
      margin: 0 auto;
      bottom: 10px; }
@media (max-width: 53.75em) {
  .mobileListingWidget .feature-container {
    margin-bottom: 0px !important; }
    .mobileListingWidget .feature-container .feature-body {
      padding: 0 0 0 0 !important; } }
.mobileListingWidget .lt-ie9 .feature-container {
  margin-bottom: 0px !important; }
  .mobileListingWidget .lt-ie9 .feature-container .feature-body {
    padding: 0 0 0 0 !important; }
.mobileListingWidget .ico {
  font-family: "optus-icons";
  font-size: 2.0em;
  line-height: 1;
  height: auto;
  width: auto;
  background: none;
  display: inline-block;
  vertical-align: middle; }
.mobileListingWidget .ico-base-down {
  font-family: "optus-icons";
  color: #00c4d0; }
  .mobileListingWidget .ico-base-down:after {
    content: "\e60e";
    float: right; }
.mobileListingWidget .osg-styled-select {
  width: 100% !important;
  height: 45px !important;
  overflow: hidden;
  background: url(new_arrow.png) no-repeat right white;
  border: 1px solid #ccc;
  border-radius: 6px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative; }
  .mobileListingWidget .osg-styled-select.readOnly {
    border-color: #e5e5e5;
    color: #666666;
    background-color: #e5e5e5; }
  .mobileListingWidget .osg-styled-select select {
    background: transparent;
    padding: 5px;
    font-size: 16px;
    line-height: 1.5;
    border: none !important;
    border-radius: 0;
    height: 45px !important;
    -webkit-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    appearance: none;
    position: absolute;
    font-family: "TradeGothicLTPro", Arial, Helvetica, sans-serif;
    width: 120%;
    width: -moz-calc(100% + 3em);
    width: calc(100% + em); }
.mobileListingWidget .hide {
  display: none; }
.mobileListingWidget .device-price {
  font-family: "TradeGothicLTPro-BdCn20"; }
  .mobileListingWidget .device-price sup {
    font-size: 60%; }
  .mobileListingWidget .device-price .price-from {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: 0.875em; }
  .mobileListingWidget .device-price strong {
    font-size: 4.5em;
    font-weight: normal;
    line-height: 1;
    color: #005a77; }
  .mobileListingWidget .device-price .price-per-month {
    text-transform: uppercase;
    color: #005a77; }
.mobileListingWidget .device-price-small {
  font-family: "TradeGothicLTPro-BdCn20";
  font-size: 0.8em; }
  .mobileListingWidget .device-price-small sup {
    font-size: 60%; }
  .mobileListingWidget .device-price-small .price-from {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: 0.875em; }
  .mobileListingWidget .device-price-small strong {
    font-size: 4.5em;
    font-weight: normal;
    line-height: 1;
    color: #005a77; }
    @media (max-width: 31.1875em) {
      .mobileListingWidget .device-price-small strong {
        font-size: 3.5em; } }
  .mobileListingWidget .device-price-small .subPrice strong {
    font-size: 2.5em;
    color: #323232; }
    @media (max-width: 31.1875em) {
      .mobileListingWidget .device-price-small .subPrice strong {
        font-size: 2em; } }
  .mobileListingWidget .device-price-small .subPrice .berryBorderinfoText {
    font-size: 1.5em;
    text-transform: uppercase; }
    @media (max-width: 31.1875em) {
      .mobileListingWidget .device-price-small .subPrice .berryBorderinfoText {
        font-size: 1.2em; } }
  .mobileListingWidget .device-price-small .subPricePlus {
    font-size: 1.5em;
    text-align: center; }
  .mobileListingWidget .device-price-small .borderLeft {
    border-left: 1px solid #323232; }
  .mobileListingWidget .device-price-small .price-per-month {
    text-transform: uppercase;
    color: #005a77;
    font-size: 1.5em; }
.mobileListingWidget .handset_mtc {
  font-size: 0.8em !important;
  padding-left: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; }
.mobileListingWidget .berry-info-box {
  background-color: #500778;
  border-radius: 5px;
  color: white;
  padding-top: 1px;
  text-transform: uppercase;
  line-height: 0.7em;
  font-size: 1.3em;
  font-family: "TradeGothicLTPro-BdCn20";
  margin-bottom: 10px;
  line-height: 1.5;
  text-align: center; }
  .mobileListingWidget .berry-info-box .row {
    margin-top: 5px; }
  .mobileListingWidget .berry-info-box sup {
    font-size: 60%; }
  .mobileListingWidget .berry-info-box .berryBorderinfoText {
    word-wrap: normal;
    font-size: 0.8em; }
.mobileListingWidget .stockConfigBanner {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 5px;
  padding: 0px 0px 0px 0px;
  background: #00a3ad;
  color: white;
  text-transform: uppercase;
  font-size: 0.7em;
  text-align: center;
  margin-top: 10px;
  position: relative;
  margin-left: -3px;
  margin-right: 5px; }
  .mobileListingWidget .stockConfigBanner.noPointer:after {
    position: absolute;
    height: 0;
    width: 0;
    content: "";
    border-style: solid;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #00a3ad;
    border-top: 1px solid transparent;
    bottom: -11px;
    left: 10%;
    top: -40%; }
  .mobileListingWidget .stockConfigBanner.noPointer.disabled:after {
    position: absolute;
    height: 0;
    width: 0;
    content: "";
    border-style: solid;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #cccccc;
    border-top: 1px solid transparent;
    bottom: -11px;
    left: 10%;
    top: -40%; }
  .mobileListingWidget .stockConfigBanner.disabled {
    background: #cccccc;
    color: #666666; }
.mobileListingWidget .moreInfo {
  text-transform: uppercase; }
.mobileListingWidget .carousel.is-carousel {
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  @media (min-width: 53.75em) {
    .mobileListingWidget .carousel.is-carousel {
      padding-left: 80px;
      padding-right: 80px; } }
  .mobileListingWidget .carousel.is-carousel .lt-ie9 {
    padding-left: 80px;
    padding-right: 80px; }
  .mobileListingWidget .carousel.is-carousel.is-onPage0 .carousel-item {
    position: relative;
    left: -0%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage1 .carousel-item {
    position: relative;
    left: -1.78571%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage2 .carousel-item {
    position: relative;
    left: -3.57143%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage3 .carousel-item {
    position: relative;
    left: -5.35714%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage4 .carousel-item {
    position: relative;
    left: -7.14286%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage5 .carousel-item {
    position: relative;
    left: -8.92857%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage6 .carousel-item {
    position: relative;
    left: -10.71429%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage7 .carousel-item {
    position: relative;
    left: -12.5%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage8 .carousel-item {
    position: relative;
    left: -14.28571%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage9 .carousel-item {
    position: relative;
    left: -16.07143%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage10 .carousel-item {
    position: relative;
    left: -17.85714%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage11 .carousel-item {
    position: relative;
    left: -19.64286%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage12 .carousel-item {
    position: relative;
    left: -21.42857%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage13 .carousel-item {
    position: relative;
    left: -23.21429%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage14 .carousel-item {
    position: relative;
    left: -25%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage15 .carousel-item {
    position: relative;
    left: -26.78571%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage16 .carousel-item {
    position: relative;
    left: -28.57143%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage17 .carousel-item {
    position: relative;
    left: -30.35714%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage18 .carousel-item {
    position: relative;
    left: -32.14286%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage19 .carousel-item {
    position: relative;
    left: -33.92857%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage20 .carousel-item {
    position: relative;
    left: -35.71429%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage21 .carousel-item {
    position: relative;
    left: -37.5%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage22 .carousel-item {
    position: relative;
    left: -39.28571%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage23 .carousel-item {
    position: relative;
    left: -41.07143%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage24 .carousel-item {
    position: relative;
    left: -42.85714%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage25 .carousel-item {
    position: relative;
    left: -44.64286%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage26 .carousel-item {
    position: relative;
    left: -46.42857%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage27 .carousel-item {
    position: relative;
    left: -48.21429%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage28 .carousel-item {
    position: relative;
    left: -50%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage29 .carousel-item {
    position: relative;
    left: -51.78571%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage30 .carousel-item {
    position: relative;
    left: -53.57143%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage31 .carousel-item {
    position: relative;
    left: -55.35714%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage32 .carousel-item {
    position: relative;
    left: -57.14286%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage33 .carousel-item {
    position: relative;
    left: -58.92857%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage34 .carousel-item {
    position: relative;
    left: -60.71429%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage35 .carousel-item {
    position: relative;
    left: -62.5%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage36 .carousel-item {
    position: relative;
    left: -64.28571%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage37 .carousel-item {
    position: relative;
    left: -66.07143%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage38 .carousel-item {
    position: relative;
    left: -67.85714%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage39 .carousel-item {
    position: relative;
    left: -69.64286%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage40 .carousel-item {
    position: relative;
    left: -71.42857%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage41 .carousel-item {
    position: relative;
    left: -73.21429%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage42 .carousel-item {
    position: relative;
    left: -75%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage43 .carousel-item {
    position: relative;
    left: -76.78571%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage44 .carousel-item {
    position: relative;
    left: -78.57143%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage45 .carousel-item {
    position: relative;
    left: -80.35714%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage46 .carousel-item {
    position: relative;
    left: -82.14286%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage47 .carousel-item {
    position: relative;
    left: -83.92857%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage48 .carousel-item {
    position: relative;
    left: -85.71429%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage49 .carousel-item {
    position: relative;
    left: -87.5%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage50 .carousel-item {
    position: relative;
    left: -89.28571%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage51 .carousel-item {
    position: relative;
    left: -91.07143%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage52 .carousel-item {
    position: relative;
    left: -92.85714%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage53 .carousel-item {
    position: relative;
    left: -94.64286%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage54 .carousel-item {
    position: relative;
    left: -96.42857%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage55 .carousel-item {
    position: relative;
    left: -98.21429%; }
  .mobileListingWidget .carousel.is-carousel.is-onPage56 .carousel-item {
    position: relative;
    left: -100%; }
  .mobileListingWidget .carousel.is-carousel .carousel-itemOuterContainer {
    overflow: hidden;
    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -o-user-select: text;
    user-select: text; }
  .mobileListingWidget .carousel.is-carousel .carousel-itemContainer {
    width: 5600%; }
    .mobileListingWidget .carousel.is-carousel .carousel-itemContainer:after {
      content: "";
      display: table;
      clear: both; }
  .mobileListingWidget .carousel.is-carousel .carousel-item {
    float: left;
    width: 1.78571%;
    -webkit-transition: left .25s ease-in;
    transition: left .25s ease-in; }
  .mobileListingWidget .carousel.is-carousel .carousel-button {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 40px;
    height: 60px;
    border: 1px solid #cccccc;
    background-color: white;
    overflow: visible;
    /* IE8 fix. */
    cursor: pointer; }
    .mobileListingWidget .carousel.is-carousel .carousel-button.is-disabled {
      display: none; }
    .mobileListingWidget .carousel.is-carousel .carousel-button .ico {
      position: absolute;
      left: -10%;
      top: 10%;
      font-size: 3em;
      color: #666666; }
  .mobileListingWidget .carousel.is-carousel .carousel-button-previous {
    left: 10px; }
  .mobileListingWidget .carousel.is-carousel .carousel-button-next {
    right: 10px; }
  .mobileListingWidget .carousel.is-carousel .carousel-pageIndicatorsWrapper {
    position: absolute;
    top: -10%;
    left: 50%; }
  .mobileListingWidget .carousel.is-carousel .carousel-pageIndicatorsContainer {
    margin-left: -50%; }
  .mobileListingWidget .carousel.is-carousel .carousel-pageIndicator {
    background-color: #cccccc;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block; }
    .mobileListingWidget .carousel.is-carousel .carousel-pageIndicator.is-active {
      background-color: #006685; }
.mobileListingWidget .carousel.is-full-item .carousel-item {
  width: 1.78571%; }
.mobileListingWidget .carousel.is-halves .carousel-item {
  width: 0.89286%; }
.mobileListingWidget .carousel.is-thirds .carousel-item {
  width: 0.59524%; }
.mobileListingWidget .carousel.is-smart-section .carousel-item {
  width: 0.59524%; }
@media (max-width: 53.6875em) {
  .mobileListingWidget .carousel.is-smart-section .carousel-item {
    width: 0.89286%; } }
@media (max-width: 31.1875em) {
  .mobileListingWidget .carousel.is-smart-section .carousel-item {
    width: 1.78571%; } }
@media (max-width: 53.6875em) {
  .mobileListingWidget .carousel.is-carousel .carousel-itemContainer {
    width: auto !important; }
    .mobileListingWidget .carousel.is-carousel .carousel-itemContainer .carousel-item {
      float: none !important;
      left: 0 !important;
      width: auto !important;
      margin-bottom: 10px; }
  .mobileListingWidget .carousel.is-carousel .carousel-button {
    display: none !important; }
  .mobileListingWidget .carousel.is-carousel .carousel-pageIndicatorsWrapper {
    display: none !important; }
  .mobileListingWidget .carousel-itemOuterContainer .feature-container {
    margin-top: 0px; }
  .mobileListingWidget .mobileListingItem {
    background-color: #e5e5e5;
    padding: 10px !important; } }
.mobileListingWidget .carousel.is-carousel {
  padding: 0; }
.mobileListingWidget .carousel .carousel-pageIndicatorsWrapper {
  top: 10px !important; }
@media (max-width: 53.75em) {
  .mobileListingWidget .carousel .carousel-button {
    top: 15px !important;
    border: none !important;
    background-color: transparent !important; }
    .mobileListingWidget .carousel .carousel-button .ico {
      color: #006685 !important; } }
.mobileListingWidget .carousel .lt-ie9 .carousel-button {
  top: 15px !important;
  border: none !important;
  background-color: transparent !important; }
  .mobileListingWidget .carousel .lt-ie9 .carousel-button .ico {
    color: #006685 !important; }
@media (min-width: 53.75em) {
  .mobileListingWidget .carousel .carousel-button {
    top: 19% !important; }
    .mobileListingWidget .carousel .carousel-button.carousel-button-previous {
      left: 0px  !important; }
    .mobileListingWidget .carousel .carousel-button.carousel-button-next {
      right: 0px  !important; }
  .mobileListingWidget .carousel .carousel-pageIndicatorsContainer {
    margin-top: 100px; } }
.mobileListingWidget .carousel .lt-ie9 .carousel-button {
  top: 19% !important; }
  .mobileListingWidget .carousel .lt-ie9 .carousel-button.carousel-button-previous {
    left: 0px  !important; }
  .mobileListingWidget .carousel .lt-ie9 .carousel-button.carousel-button-next {
    right: 0px  !important; }
.mobileListingWidget .carousel .lt-ie9 .carousel-pageIndicatorsContainer {
  margin-top: 100px; }
.mobileListingWidget .mobileListingItem {
  background-color: #e5e5e5;
  padding: 10px !important;
  margin-bottom: 20px !important;
  border-radius:5px;
  }
