<Navigation version="home" />
<div class="ui-container -slim" id="home-container">
	<main role="main" class="ui-block">
		<div class="ui-block ui-collection -center"><img src="./assets/img/profile.jpg" srcset="./assets/img/profile@2x.jpg 2x" alt="" class="ui-image -round"></div>
		<section class="ui-block">
			<h1 class="ui-heading -emphasis -center">Hello, I'm <a class="link" href="https://www.linkedin.com/in/simon-layfield-39201729/" target="_blank">Simon Layfield</a></h1>
			<p class="ui-callout">I design and build meaningful user experiences into lightweight, scalable web prototypes.</p>
			<p>Currently, my free time in this area goes towards my personal project, <a href="https://typereel-195923.appspot.com/" target="_blank" class="link">Typereel</a>.</p>
			<hr class="ui-separator">
			<p class="ui-callout -small">Other interests include freelance <a href="./branding.html" class="link">branding and illustration</a>, I co-run an online board game shop called <a href="http://www.rollersboardgames.com" class="link">Rollers</a> and play in a band called <a href="https://www.facebook.com/youthandtheyoung/" target="_blank" class="link">Youth &amp; The Young</a>.</p>
		</section>
	</main>
</div>

<script>
	import Navigation from './Navigation.html';
	export default {
		data() {
			return {

			}
		},
		components: {
			Navigation
		}
	};
</script>
