
<div class="ui-container">
	<main role="main" class="ui-block" id="site">
		<aside class="ui-block -padded -flat" id="sidebar">

			<div class="ui-block -flat -center">
				<svg class="logo -home" viewBox="0 0 340 340" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><g transform="scale(.26508 .42412)"><path fill="none" d="M0 0h1280v800H0z"/><clipPath id="a"><path d="M0 0h1280v800H0z"/></clipPath><g clip-path="url(#a)"><g transform="matrix(9.35314 0 0 5.84571 -1976.19 -1287.25)"><circle cx="279.713" cy="288.631" r="68.426"/><clipPath id="b"><circle cx="279.713" cy="288.631" r="68.426"/></clipPath><g clip-path="url(#b)"><path d="M199.874 298.387c36.805-38.879 113.854-24.18 113.02-42.73-.898-19.972-107.796 7.794-32.055 29.407 68.033 19.412-21.036 50.78-28.288 38.527-12.367-20.893 92.572-29.562 125.42-8.168" fill="none" stroke="#fff" stroke-width="4.5"/></g></g></g></g></svg>
			</div>

			<h1 class="ui-heading ui-block -center -padded-b">Simon Layfield</h1>
			<p>I'm a graphic designer from Nottingham UK. I design brands and products that excite, compel and reassure customers. I'm currently undergoing an Illustration MA at Nottingham Trent University.</p>
			<p>Personal projects include <a href="http://typereel.io/" target="_blank" class="link">Typereel</a> and <a href="http://thevoidgenerator.eu-4.evennode.com/">Void</a>.</p>
			<p>If you'd like to join forces or straight up hire me to do design things then please <a href='&#109;&#97;ilto&#58;si&#37;&#54;D&#37;6Fn&#37;6&#67;ay&#37;66ield&#64;&#112;rotonmai&#37;&#54;&#67;&#46;com'>get in touch</a>.</p>

		</aside>
		<section class="ui-block -flat">
			<div class="ui-grid -fluid -three" id="portfolio">
				<div class="project">
					<a href="/project?id=the-void" class="link">
						<img src="./assets/img/portfolio/void.jpg" alt="" class="thumbnail">
						<div class="ui-overlay -fallback">
							<strong>Void</strong>
							MA Project
						</div>
					</a>
				</div>
				<div class="project">
					<a href="/project?id=taru-ajak" class="link">
						<img src="./assets/img/portfolio/tribe.jpg" alt="" class="thumbnail">
						<div class="ui-overlay -fallback">
							<strong>The Taru Ajak</strong>
							MA Project
						</div>
					</a>
				</div>
				<div class="project">
					<a href="/project?id=from-persia-with-love" class="link">
						<img src="./assets/img/portfolio/from-persia-with-love-logo.svg" alt="" class="thumbnail">
						<div class="ui-overlay -fallback">
							<strong>From Persia with Love</strong>
							Branding
						</div>
					</a>
				</div>
				<div class="project">
					<a href="/project?id=monic" class="link">
						<img src="./assets/img/portfolio/monic-logo.svg" alt="" class="thumbnail">
						<div class="ui-overlay -fallback">
							<strong>Monic</strong>
							Branding/Product Design
						</div>
					</a>
				</div>
				<div class="project">
					<a href="/project?id=avmaths" class="link">
						<img src="./assets/img/portfolio/avmaths-logo.svg" alt="" class="thumbnail">
						<div class="ui-overlay -fallback">
							<strong>AvMaths</strong>
							Branding/App Concepts
						</div>
					</a>
				</div>
				<div class="project">
					<a href="/project?id=k-nit" class="link">
						<img src="./assets/img/portfolio/knit-logo.svg" alt="" class="thumbnail">
						<div class="ui-overlay -fallback">
							<strong>K-nit</strong>
							Branding/Product Design
						</div>
					</a>
				</div>
				<div class="project">
					<a href="/project?id=artful" class="link">
						<img src="./assets/img/portfolio/artful-logo.svg" alt="" class="thumbnail">
						<div class="ui-overlay -fallback">
							<strong>The Artful Press</strong>
							Branding/Design
						</div>
					</a>
				</div>
				<div class="project">
					<a href="/project?id=about-and-out" class="link">
						<img src="./assets/img/portfolio/about-and-out.jpg" alt="" class="thumbnail">
						<div class="ui-overlay -fallback">
							<strong>About & Out</strong>
							Illustration
						</div>
					</a>
				</div>
				<div class="project">
					<a href="/project?id=nathan-sheehy" class="link">
						<img src="./assets/img/portfolio/ns-logo.svg" alt="" class="thumbnail">
						<div class="ui-overlay -fallback">
							<strong>Nathan Sheehy</strong>
							Branding
						</div>
					</a>
				</div>
				<div class="project">
					<a href="" class="link">
						<img src="./assets/img/portfolio/ractive-logo.jpg" alt="" class="thumbnail">
						<div class="ui-overlay -fallback">
							<strong>Ractive JS</strong>
							Branding
						</div>
					</a>
				</div>
				<div class="project">
					<a href="http://typereel.io" target="_blank" class="link">
						<img src="./assets/img/portfolio/typereel-logo.svg" alt="" class="thumbnail">
						<div class="ui-overlay -fallback">
							<strong>Typereel</strong>
							Branding/FE Development
						</div>
					</a>
				</div>
				<div class="project">
					<a href="/project?id=zombie-friends" class="link">
						<img src="./assets/img/portfolio/zf-logo.svg" alt="" class="thumbnail">
						<div class="ui-overlay -fallback">
							<strong>Zombie Friends</strong>
							Illustration
						</div>
					</a>
				</div>
			</div>
		</section>
	</main>
</div>

<script>
	import Navigation from './Navigation.html';
	export default {
		data() {
			return {

			}
		},
		components: {
			Navigation
		}
	};
</script>
