<nav class="ui-navigation -center {{version ? '-' + version : ''}}">
	{{#each menu as menuItem, index}}
		{{#if menuItem.url}}
			<a class="link" href="{{menuItem.url}}">{{menuItem.label}}</a>
		{{/if}}
		{{#if !menuItem.url}}
			<button class="link" on:click="processMenuItemClick(index)">{{menuItem.label}}</button>
		{{/if}}
	{{/each}}
	{{#if submenuItems.length}}
		<nav class="subnav" transition:slide>
			{{#each submenuItems as submenuItem}}
				<a class="link" href="{{submenuItem.url}}">{{submenuItem.label}}</a>
			{{/each}}
		</nav>
	{{/if}}
</nav>

<script>
import { push } from 'svelte-extras';
import { slide } from 'svelte-transitions';
	export default {
		data() {
			return {
				menu: [{
					label: "Home",
					url: "index.html"
				}, {
					label: "Projects",
					submenu: [{
						label: "Web",
						url: "/web"
					}, {
						label: "Branding",
						url: "/branding"
					}, {
						label: "Illustration",
						url: "/illustration"
					}]
				}, {
					label: "Blog",
					url: "/blog"
				},
				{
					label: "Github",
					icon: "github",
					url: "https://github.com/simonlayfield/",
					flexible: true
				}, {
					label: "Contact",
					url: "https://aemail.com/Z6J",
					flexible: true
				}],
				submenuItems: []
			}
		},
		transitions: {
			slide
		},
		methods: {
			push,
			processMenuItemClick(index) {
				if (this.get('submenuItems').length) {
					this.set({submenuItems: []})
				} else {
					let submenu = this.get('menu'),
						submenuItems = submenu[index].submenu;
					this.set({submenuItems: submenuItems});
				}
			}
		}
	};
</script>
