<Navigation />
<Content>
	<h1 class="ui-heading">Branding</h1>
	<p>Branding projects these days are less frequent, but still occasionaly crop up.</p>
</Content>
<Showcase type="simple" dataUrl="/js/branding.json" />
<Showcase type="mosaic" dataUrl="/js/mockups.json" />

<script>
import Navigation from './Navigation.html';
import Content from './Content.html';
import Showcase from './Showcase.html';
	export default {
		data() {
			return {
			}
		},
		components: {
			Navigation,
			Content,
			Showcase
		}
	}
</script>
