{{#await showcaseData}}
	<div class="ui-block -center">loading...</div>
{{then assets}}

	<div class="row {{type == 'detailed' ? '-bg' : ''}} -padded">
		<div class="ui-container -{{type}} -padded">

		{{#if type == "mosaic"}}

			{{#each assets as asset}}
				<img src="{{asset.image}}" alt="">
			{{/each}}

		{{elseif type == "simple"}}

			{{#each assets as asset}}
				<div class="ui-card">
					<img src="{{asset.image}}" alt="">
				</div>
			{{/each}}

		{{elseif type == "detailed"}}

			{{#each assets as asset}}
				<div class="ui-card -highlight">

					{{#if asset.type === 'commercial'}}

						<div class="label">
							<span>commercial</span>
						</div>

					{{else}}

						<div class="label -alt">
							<span>personal</span>
						</div>

					{{/if}}
					<a href="{{asset.url}}" target="_blank">
						<img src="{{asset.image}}" alt="">
					</a>
					<div class="details">
						
						<h3 class="ui-heading -tertiary">
							<a href="{{asset.url}}" target="_blank" class="link">{{asset.name}}</a>
						</h3>

						<p>{{{asset.detail}}}</p>
					</div>

				</div>
			{{/each}}



		{{else}}

			<p>No items found</p>

		{{/if}}

		</div>
	</div>

{{catch theError}}
	<p>whoops! {{theError.message}}</p>
{{/await}}

<style>
	.-simple,
	.-detailed {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 30px;
	}
	.-simple .ui-card {
		box-shadow: none;
	}
	.-mosaic {
		-moz-column-count: 1;
		-moz-column-gap: 20px;
		-webkit-column-count: 1;
		-webkit-column-gap: 20px;
		column-count: 1;
		column-gap: 20px;
		text-align: center;
	}
	.-mosaic img {
		margin-bottom: 20px;
		border-radius: 5px;
	}
	.ui-card__details {
		border: 1px solid #ccc;
	}
	@media (min-width: 500px) {
		.-simple,
		.-detailed {
			grid-template-columns: repeat(2, 1fr);
		}
		.-mosaic {
			-moz-column-count: 2;
			-moz-column-gap: 20px;
			-webkit-column-count: 2;
			-webkit-column-gap: 20px;
			column-count: 2;
		}
	}
	@media (min-width: 1200px) {
		.-simple,
		.-detailed {
			grid-template-columns: repeat(3, 1fr);
		}
		.-mosaic {
			-moz-column-count: 3;
			-moz-column-gap: 20px;
			-webkit-column-count: 3;
			-webkit-column-gap: 20px;
			column-count: 3;
		}
	}
	.row {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	.row.-bg {
		background: #f1f1f1;
	}
	.row.-padded {
		padding-left: 1rem;
		padding-right: 1rem;
	}
</style>

<script>
	export default {
	data() {
		return {
		}
	},
	computed: {
		showcaseData: dataUrl => {
			return fetch(dataUrl)
				.then(res => {
					if (!res.ok) {
						throw Error(res.statusText)
					}
					return res;
				})
				.then(res => res.json())
				.then(data => data.assets)
				.catch(error => console.log(error))
		}
	}
};
</script>
