:root {

	--heading-family: 'Inconsolata', sans-serif;
	--body-family: 'Inconsolata', sans-serif;
	--tint-color: #f1f1f1;
	--primary-color: #333;
	--secondary-color: #0009D1;
}

body {
	font: normal 1.2rem/2.4rem var(--body-family);
	color: var(--primary-color);
	margin: 0;
	padding: 0;
}

#home-container {
	position: relative;
	top: -150px;
}

img {
	max-width: 100%;
}
