:root {

	--heading-family: 'Source Sans Pro', sans-serif;
	--body-family: 'Inconsolata', sans-serif;
	--tint-color: #f1f1f1;
	--supporting-color: #ccc;
	--primary-color: #555;
	--secondary-color: #4D00F1;
	--mono-color-dark: #000;
}

* {
	box-sizing: border-box;
}

body {
	font: normal 1rem/2rem var(--body-family);
	color: var(--primary-color);
	margin: 0;
}

img {
	max-width: 100%;
}

.profile-image {
	/* width: 200px; */
}
.logo.-home {
	width: 120px;
	&:hover {
		& .letter {
			fill: var(--mono-color-dark);
		}
		/* & .circle {
			fill: var(--secondary-color);
		} */
	}
}
.logo .letter {
	fill: var(--secondary-color);
	transition: fill .6s linear;
}
.logo .circle {
	fill: #fff;
	transition: fill .2s linear;
}
