:root {

	--heading-family: 'Source Sans Pro', sans-serif;
	--body-family: 'Inconsolata', sans-serif;
	--tint-color: #f1f1f1;
	--supporting-color: #ccc;
	--primary-color: #555;
	--secondary-color: #EC7476;
}

body {
	font: normal 1rem/2rem var(--body-family);
	color: var(--primary-color);
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

.profile-image {
	/* width: 200px; */
}
