
body {
	text-align: center;
	background: #fff url('/work/scott/hearts.gif') repeat top left;
	color: blue;
}

h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.2rem;
}
h2 span {
	display: inline-block;
	border: 1px solid blue;
	padding: 2px 20px;
	font-size: 1rem;
}
ul {
	padding-left: 0;
	list-style: none;
}
li {
	display: inline;
	margin: 0 1rem;
}

@media (min-width: 800px) {
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 2rem;
	}
}
